.bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.bg > div:nth-child(1) {
  height: 50vh;
  background-color: #0083ff;
}

.carousel-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 989px;
  width: 2300px;
}

.right-arrow {
  margin-left: 50px;
}

.left-arrow {
  margin-right: 50px;
}

.arrow-container {
  background-color: #c4c4c4;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

.navigation-rectangles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  height: 50px;
  margin: auto;
  margin-top: 100px;
}

.navigation-rect {
  height: 15px;
  width: 150px;
  background-color: #c4c4c4;
  cursor: pointer;
}

.img-container {
  position: relative;
  overflow: hidden;
  height: 989px;
  width: 1760px;
}

.new-img {
  right: 100%;
}

.program-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@keyframes scroll-out {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@keyframes scroll-in {
  0% {
    right: 100%;
  }

  100% {
    right: 0;
  }
}

.exiting-img-anim {
  animation: scroll-out 1s;
  animation-fill-mode: forwards;
}

.entering-img-anim {
  animation: scroll-in 1s;
  animation-fill-mode: forwards;
}
